<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dinosaurs!!</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="dino">
      <div class="primary">
        {{#dino}}
        <figure>
          <img src="{{imageurl}}">
        </figure>
        <div class="info">
          <h1>{{name}}</h1>
          <p>Length | {{length}}</p>
          <p>Weight | {{weight}}</p>
          <p>Habitat | {{habitat}}</p>
          <div class="delete">
            <form class="" action="/api/dinosaurs/{{id}}" method="post">
              <button type="submit" name="delete">Delete Dinosaur</button>
            </form>
          </div>
          <div class="edit">
            <form class="" action="/api/edit/{{id}}" method="get">
              <button type="submit" name="edit">Edit Dinosaur</button>
            </form>
          </div>
          <div class="home">
            <form class="" action="/" method="get">
              <button type="submit" name="home">Home</button>
            </form>
          </div>
        </div>
        {{/dino}}
      </div>
    </div>
  </body>
</html>
