@import url('https://fonts.googleapis.com/css?family=Abel');

body {
  font-family: 'Abel', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
button {
  height: 3em;
  border-radius: 5px;
}
.dinoInfo {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding-left: 0;
}

.dinoInfo li {
  width: calc(25% - 1em);
  box-sizing: border-box;
  border: thin solid #666;
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em;
}

.dinoInfo li img {
  width: 100%;
  height: auto;
}

.dinoInfo li h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

a {
  text-decoration: none;
  color: #4777d6;
}

.dino {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dino h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

.dino .primary {
  display: flex;
}

.dino .info p {
  margin: 0;
}

.dino figure {
  margin: 1em;
}

.dino figure img {
  border: thin solid #666;
  padding: 0.5em;
  width: 150px;
}

.dino dl dt {
  float: left;
  font-weight: bold;
  text-align: right;
  display: block;
  width: calc(150px + 1.5em);
  margin-bottom: 0.5em;
}

.dino dl dd {
  margin-left: calc(150px + 3em);
  margin-bottom: 0.5em;
}
